<div class="title">
  Match NSB Equipe 2 2019/2020
</div>
<div class="domicile">
  <img [src]="'assets/teams/' + match.domicile.id + '.png'" alt="" />
  <span>{{ match.domicile.name }}</span>
</div>
<div class="middle">
  <div class="middle__hour">{{ match.heure }}</div>
  <div class="middle__date">{{ match.date | date: "EEEE d MMMM yyyy" }}</div>
  <div class="middle__info-match">
    match n°{{ match.numero }} de la phase {{ match.phase }}
  </div>
</div>
<div class="visiteur">
  <img [src]="'assets/teams/' + match.visiteur.id + '.png'" alt="" />
  <span>{{ match.visiteur.name }}</span>
</div>
<div class="address">
  <a [href]="match.adresse | googleAddress" target="_blank">
    {{ match.adresse }}
  </a>
</div>
